
@import "bootstrap/scss/bootstrap";


// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: $purple;
$body-bg: #f5f5f5;
$border-radius: .4rem;

//
// Custom styles
//

body {
  padding: 0.1rem 0.5rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
.nav-item{
  margin-left: 1.5rem;
}
.img-bg-header{
  z-index: -100;
  padding: 0;
  margin: 0;
}
.img-bg{
  width: 100%;
}
.header{
  z-index: 100;
}
.caption{
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}
//             ***************更改字体***************                       //
body {
  font-family: Courier,Helvetica,Arial,STKaiti,'华文楷体',sans-serif;
  font-size: 16px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Courier,Helvetica,Arial,STKaiti,'华文楷体',sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
.font-color{
  color: lightgrey;
}
.my-fontstyle{
  font-family: Courier,sans-serif;
}
//                 ******************************                          //

.img-bg-1{
  background: url("/assets/imges/headerimgbg.png") no-repeat;
  background-size: 100% 100%;
}
.content-top{
  margin-top: 3.5rem;
}
.text-content-xx{
  margin-top: 1.5rem;
}
.text-xx{
  line-height: 0.8;
  font-weight: 220;
}
.img-text-box{
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}
.card-no-border{
  border: none;
}
.martop-rem{
  margin-top: 3.5rem;
}
.marbot-rem{
  margin-bottom: 4.5rem;
}
.card-no-padding{
  padding: 0;
}
.top-border-display{
  border-top: slategrey solid 1px;
}
.card-title-mystyle{
  font-family: Courier,sans-serif;
  color: darkgrey;
}

.footer-p-font{
  color: rgb(135, 146, 146);
  line-height: 0.7;
  font-weight: 200;
}
.footer-ul-top{
  margin-top: 1.5rem;
}


//          ***************Application x***************                    //
.app-martop-rem{
  margin-top: 8.5rem;
}
.app-marbot-rem{
  margin-bottom: 8.5rem;
}
.app-foot-title-font-color{
  color: rgb(233, 233, 227);
}
.app-foot-text-font-color{
  color: rgb(177, 177, 170);
}
//                 ******************************                          //
